@import "calender";

.logout_btn{
    
   margin-top: 10px;
   border: solid black 1px;
   background-color: white;

   &:hover{
       color: white;
       background-color: black;
   }

}

.classes{
    .OneClass{
        border: {
            style: solid;
        };
        
       padding-top: 10px;
       padding-bottom: 10px;
       padding-left: 5px;

       margin-top: 5px;
       margin-bottom: 5px;
       
        .classBtn{
            float: right;
            margin-right: 10px;
            border: none;
            font-weight: bold;
            background: transparent;
        }

    }
}

$colors:  lightpink lightgreen lightskyblue lightseagreen lightsalmon;

@each $color in $colors {
    .bg-#{$color}{
        background: $color;
        &:hover{
            background: lightgoldenrodyellow;
        }
    }
}